// @import url('https://fonts.googleapis.com/css?family=Coiny|Roboto');
@dirt-color: #80622f;
@border-color: #1f6949;
@background-color: #d6fbd3;
@base-text-color: #161616;
@button-light: #5ecd5f;
@button-dark: #448145;
@button-basic-light: #f1f1f1;
@button-basic-dark: #cfcccc;
@destructive-red: #e01818;
@font-coiny: 'Coiny', cursive;
@font-roboto: 'Roboto', sans-serif;
